@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<div class="card">
  <div class="card-body">
        <h2>Add/suggest one of our existing flavors</h2>

        <h4>Add/suggest one of these flavors for this treat: @Html.DisplayFor(model => model.Name)</h4>

        @using (Html.BeginForm())
        {
        @Html.HiddenFor(model => model.TreatId)

        @Html.Label("Select a flavor to add")
        @Html.DropDownList("FlavorId")

        <input type="submit" value="Save" />
        }

        <p>@Html.ActionLink("Back to list", "Index")</p>
    </div>
</div>